@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Crete+Round);

@import "bootstrap.min";
@import "mixins";
@import "unite-gallery";
@import "ug-theme-default";



$color-primary: #CD7F8D;
$color-secondary: blue;

$color-blue-dark-1: #215682;
$color-blue-dark-2: #2d68a1;
$color-dark: #313131;
$color-green: #4CAF50;
$color-red: #DF3748;
$color-red-2: rgba(197, 50, 61, 1);
$color-green-river: #376763;
$color-green-river-light: #4d8682;
$color-white: #fff;
$color-white-2: #f2f2f2;

body {
	font-family: 'Lato', sans-serif;
}

section.intro {
	@include full-background-image("../../images/patiserie-bg.jpg", bottom, center, fixed);

	header {
		border-bottom: 1px solid rgba(255,255,255,.1);
		nav {
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
				text-align: center;

				li {
					display: inline-block;
					font-family: 'Crete Round', serif;

					a {
						display: block;
						padding: 20px 20px;
						color: #fff;
					}
				}
			}
		}
	}

	.inner {
		margin: 150px 0 200px 0;
		.content {
			text-align: center;
			color: #fff;

			h2 {
				font-family: 'Crete Round', serif;
				color: inherit;
				font-size: 3em;
				margin-bottom: 20px;
			}

			p {
				color: inherit;
				font-size: 1.3em;
			}
		}

		.info {
			margin-top: 50px;
			text-align: center;

			i {
				font-size: 2.5em;
				color: $color-primary;
			}

			h3 {
				font-family: 'Crete Round', serif;
				color: #fff;
			}


			a {
				&.btn {
					background: none;
					border: 2px solid rgba(255,255,255,.2);
					color: #fff;
					font-weight: 600;

					&:hover {
						background-color: #fff;
						color: $color-primary;
					}
				}
			}

			.address {
				address {
					font-size: 1.1em;
					color: #fff;
				}
			}

			.contact {
				p {
					font-size: 1.1em;
					color: #fff;

					span {
						color: darken(white, 10%);
					}
				}
			}
		}
	}
}

.gallery-section {
	background: url("../../images/pink_rice.png") repeat;
	padding-top: 15px;

	.img-container {
		border: 2px solid darken(white, 10%);
		margin-bottom: 15px;

		img {
			width: 100%;
		}
	}
}
